<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">

        <!--topbar-->
        {{> _topbar}}

        <!--Intro-->
        <div class="cardBox">
            <div class="welcomecard">
                <div>
                    <div class="numbers">Hi, {{ user.name }}</div>
                    <div class="cardName"><p>Welcome <br>
                    Here is a summary of the transactions, orders, automobiles, commissions, and records for those transactions that you
                    have made</p></div>
                </div>
                <div class="iconBx">
                    <!--ion-icon name="eye-outline"></ion-icon-->
                </div>
            </div>
        
        
        </div>


        <!--cards-->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">{{count.vehicleCount}}</div>
                    <div class="cardName">Vehicle</div>
                </div>
                <div class="iconBx">
                    <!--ion-icon name="eye-outline"></ion-icon-->
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="numbers">{{count.documentCount}}</div>
                    <div class="cardName">Orders</div>
                </div>
                <div class="iconBx">
                    <!--ion-icon name="cart-outline"></ion-icon-->
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">NGN200,000</div>
                    <div class="cardName">Amount Spent</div>
                </div>
                <div class="iconBx">
                    <!--ion-icon name="chatbubbles-outline"></ion-icon-->
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">NGN20,850</div>
                    <div class="cardName">Commissions Earned </div>
                </div>
                <div class="iconBx">
                    <!--ion-icon name="cash-outline"></ion-icon-->
                </div>
            </div>
        </div>

        <!--data list-->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>View Records</h2>
                    <a href="../pages/view_records.html" class="btn">View All</a>
                </div>
                {{#if documents}}
                <div class="table">
                    <div class="thead">
                        <div class="table-row">
                            <div class="table-cell">S/N</div>
                            <div class="table-cell">Document Type</div>
                            <div class="table-cell">Status</div>
                            <div class="table-cell">Last Updated</div>

                        </div>
                    </div>
                    <div class="tbody">
                        {{#each documents}}
                        <a href="/check/{{docType}}/{{_id}}" class="table-row">
                            <div class="table-cell">{{inc @index "+" 1}}.</div>
                            <div class="table-cell">{{docType}}</div>
                            <div class="table-cell">{{status}}</div>
                            <div class="table-cell">{{formatDate updatedAt 'MMMM Do YYYY, h:mm:ss a'}}</div>
                        </a>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <p>No papers has been processed yet!</p>
                {{/if}}
            </div>
        </div>

    </div>
</div>