<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--Error Alert-->
        {{#if msg}}
        <div class="alert color-success" id="alert">
            <span class="alert-text">{{msg}}</span>
            <span class="cancel">x</span>
        </div>
        {{/if}}

        <!--topbar-->
        {{> _topbar}}

        <!--data list-->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>View Records</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                {{#if vehicles}}
                <div class="table">
                    <div class="thead">
                        <div class="table-row">
                            <div class="table-cell">S/N</div>
                            <div class="table-cell">Name</div>
                            <div class="table-cell">Plate Number</div>
                            <div class="table-cell">Papers Issued</div>

                        </div>
                    </div>
                    <div class="tbody">
                        {{#each vehicles}}
                        <a href="/vehicle/{{_id}}" class="table-row">
                            <div class="table-cell">{{inc @index "+" 1}}.</div>
                            <div class="table-cell">{{brand}} - {{model}}</div>
                            <div class="table-cell">{{plateNo}}</div>
                            <div class="table-cell">Driver's License</div>
                        </a>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <p>No vehicle profile has been created yet!</p>
                {{/if}}
            </div>
        </div>

        <!--Form-->
        <div class="formcard">
            <div class="formcardheader">
                <h2>Add a New Vehicle</h2>
            </div>

            <div class="formcarddetails">
                <p><strong>REQUIRED</strong> <br>
                    Two phone numbers and a required customs paper or receipt (displaying the VIN or chassis number) 
                </p>

                <p><strong>TIMELINE</strong> <br>
                With next day delivery, new registration takes 48 hours (but 96 hours with a tint permit).
            </div>

            <form action="/vehicle" method="POST">
                <h3>Enter Vehicle Details</h3>
                <select name="category" title="Select cars">
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic">Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic</option>
                    <option value="Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others">Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others</option>
                    <option value="SUV | Jeep | Bus | Pick-Up | Crossover">SUV | Jeep | Bus | Pick-Up | Crossover</option>
                    <option value="Coaster Bus">Coaster Bus</option>
                    <option value="Mini Trucks | Trucks 15 Tons (Tippers)">Mini Trucks | Trucks 15 Tons (Tippers)</option>
                    <option value="Trucks 20 Tons (6-10 Tyres)">Trucks 20 Tons (6-10 Tyres)</option>
                    <option value="Trucks 30 Tons(Trailers 10+ Tyres)">Trucks 30 Tons(Trailers 10+ Tyres)</option>
                </select>

                <input type="text" name="brand" placeholder="Vehicle Brand e.g. Toyota" value="" title="Vehicle Brand">
                <input type="text" name="model" placeholder="Vehicle Model e.g. Corolla" value="" title="Vehicle Model">
                <input type="text" name="year" placeholder="Year of Make" value="" title="Year of Make">
                <input type="text" name="plateNo" placeholder="Plate Number" value="" title="Plate Number">
                <input type="text" name="engineNo" placeholder="Engine Number" value="" title="Engine Number">
                <input type="text" name="chassisNo" placeholder="Chassis Number" value="" title="Name">
                <input type="text" name="color" placeholder="Select Color" value="" title="Color">
                <input type="text" name="location" title="Delivery Location" placeholder="Delivery Location">
                <input type="submit" value="Add Vehicle" placeholder="" title="Submit Form">
            </form>

        </div>

    </div>

</div>