<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--Error Alert-->
        {{#if msg}}
        <div class="alert color-success" id="alert">
            <span class="alert-text">{{msg}}</span>
            <span class="cancel">x</span>
        </div>
        {{/if}}

        <!--topbar-->
        {{> _topbar}}

        <!--data list-->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>View Records</h2>
                    <a href="../pages/view_records.html" class="btn">View All</a>
                </div>
                <br>
                <div>
                    <div>Type of document:</div>
                    <div>{{document.docType}}</div>
                </div>
                <br>
                <div>
                    <div>License Number</div>
                    <div>{{document.data.licence_no}}</div>
                </div>
                <br>
                <div>
                    <div>License Name:</div>
                    <div>{{document.data.licence_name}}</div>
                </div>
                <br>
                <div>
                    <div>License Type:</div>
                    <div>{{document.data.licence_type}}</div>
                </div>
                <br>
                <div>
                    <div>Delivery Location:</div>
                    <div>{{document.data.location}}</div>
                </div>
                <br>
                <div>
                    <div>Status:</div>
                    <div>{{document.status}}</div>
                </div>
                <br>
                <div>
                    <div>Date Submitted:</div>
                    <div>{{document.createdAt}}</div>
                </div>
                <br>
                <div>
                    <div>Vehicle Photo:</div>
                    <div>
                        <img src="{{document.photoPath}}" alt="Vehicle picture" height="400" width="400">
                    </div>
                </div>
                <br>
                {{#if deleteCheck}}
                <div>
                    <form action="/document/driver-license/{{document._id}}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete Form">
                    </form>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</div>